# Visual Studio cache folders
.vs/
bin/
obj/

# User-specific files
*.user
*.suo

# Build results
*.dll
*.exe
*.log
*.pdb

# Database and config
*.dbmdl

# Others
*.tmp
*.cache

#Ignore Configuration file
appsettings.json
appsettings.Development.jsonst 
stu 
all_student_cs_contents 
